{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
<header id="header">
	<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>



				<!-- Main -->
					<article id="main">
						<header>
							<h2>CAFETERIA MEAL</h2>
							<p>choose from different delicacies, enjoy !!!  </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

							<section>
								<div class="box alt">
									<span class="row uniform">

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="slug.html">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="slug.html" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

											<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

										<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>

																				<div class="4u"><span class="image fit">
											<article class="mini-post">
												<header><h3><a href="#">YAMORITO</a></h3>
										<div class="row uniform">
													<div class="6u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="1">150</option>
														<option value="1">200</option>
														<option value="1">250</option>
													</select></div></div>
										<div class="6u">
										<input type="reset" value="BUY" class="special" />
											</div></div> </header>
											<a href="#" class="image"><img src="./../resources/images/chop.jpeg" alt="" /></a>
										</article>
										</span></div>
                                      </span>
									</div>
							</section>
                          </div>
		          </section>
                </article>

				{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>