{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
<header id="header">
	<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

	<!-- Main -->
		<article id="main">
			<header>
				<h2>CAFETERIA MEAL</h2>
				<p>choose from different delicacies, enjoy !!!  </p>
			</header>
			<section class="wrapper style5">
				<div class="inner">

				<section>
					<div class="box alt">
						<span class="row uniform content-main">
							{# <div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

								<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

							<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>

																	<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug">YAMORITO</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div> #}
						</span>
					</div>
				</section>
			</div>
		</section>
	</article>
	{{include('./partials/footer.twig')}}
</div>

		{{include('./partials/scripts.twig')}}

		<script>
			$(document).ready(function(){
				$.ajax({
					url: 'http://localhost/queemes-v1/server/apis/getMeal/caf1',
					method: 'get',
					dataType: 'JSON',
					success: function(resp){
						console.log(JSON.stringify(resp.message));
						console.log(resp.message.length);
						var content = resp.message
						for(i =  0; i< content.length; i++){
							$('.content-main').append(`
								<div class="4u">
								<span class="image fit">
									<article class="mini-post">
										<header>
											<h3>
												<a href="./slug?meal=${content[i].title}">${content[i].title}</a>
											</h3>

											<div class="row uniform">
												<div class="6u">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="1">150</option>
															<option value="1">200</option>
															<option value="1">250</option>
														</select>
													</div>
												</div>

												<div class="6u">
													<input type="reset" value="BUY" class="special" />
												</div>
											</div>
										</header>

										<a href="./slug?meal=${content[i].title}" class="image">
											<img src="./../resources/images/chop.jpeg" alt="" />
										</a>
									</article>
								</span>
							</div>`
							);
						};
						//console.log(window.location.pathname); //this gives the path of caf1 file...i.e. .queemes-v1/public/caf1
						console.log(window.location.href); //this gives the url of the page...i.e. http://localhost/queemes-v1/public/caf1
					},
					error: function(resp){
						console.log(resp);
					}

				})
			})
		</script>

	</body>
</html>