{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
						<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>PRIVACY POLICY</h2>
							<p>arghhhhhhhhhhhhh</p>
						</header>
						<section class="wrapper style5">
                            <div class="row">
                                
                                 <div class="3u 12u$(medium)">
                                     <h4>Your details</h4><br>
										<ul class="alt">
												<li>Ayoola Akinola David</li>
												<li>ayooladavid@gmail.com</li>
												<li>Abraham Hall</li>
                                                <li>14CD003429</li>
											</ul>
									</div>
                                
                                <div class="5u 12u$(medium)">	
							<div class="inner">
                                        <h4>Delivery Address</h4><br>
										
											<div class="12u">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">- Address -</option>
														<option value="1">abr</option>
														<option value="1">,sara</option>
														</select>
												</div>
				                            </div>
                                <P style="font-size: 0.700em;" ><small>no valid address available ? enter an alternative below</small></P>
                                            <div class="12u">
												<input type="text" name="address" id="demo-address" value="" placeholder="alternative address" />
                                        </div><br>
            </div>
                                </div>
                                
                            <div class="3u$ 12u$(medium)">
										<table>
											<thead>
												<tr>
                                                    <h4>Your Oder</h4>
												</tr>
											</thead>
											<tbody>
                                                <tr>
													<td colspan="2">Yamorito, egg, fish</td>
													<td>2</td>
												</tr>
												<tr>
													<td colspan="2">Sub total</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td colspan="2">delivery</td>
													<td>5.01</td>
												</tr>
												<tr>
													<td colspan="2">Total</td>
													<td>35.00</td>
												</tr>
								            </tbody>
											<tfoot>
												<tr>
													<td colspan="1"></td>
													<td><a href="./summary" class="button special">Place Order</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
                            </div>
                            
                             <div class="6u 12u$(medium)">
							 <div class="inner">
                                <ul >
                                    <li><div class="row"><a href="./checkout" class="button small">PayPal</a>
                                    <div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">with card </label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-normal" name="demo-priority">
												<label for="demo-priority-normal">On delivery</label>
                                        </div></div>
                                    </li>
                                    <li></li>
                                    <li><div class="10u 12u$(medium)"><input type="text" name="address" id="demo-address" value="" placeholder="Card Number" /></div></li>
												<div class="row"><li><div class="12u 12u$(medium)"><input type="text" name="expiry" id="demo-expiriy" value="" placeholder="expiration date" /></div></li>
                                                    <li><div class="12u 12u$(medium)"><input type="text" name="cvv" id="demo-cvv" value="" placeholder="CVV" /></div></li></div>
                                                <li><div class="10u 12u$(medium)"><input type="text" name="postal" id="demo-postal" value="" placeholder="Postal Code" /></div></li>
											</ul></div></div>
                            
    	</section>
	</article>

				{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>
