{{include('./partials/head.twig')}}
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>
				<!-- Main -->
                <footer class="footer">
					<article id="tame">
						<header>
							<h2>CONTACT PAGE</h2>
							</header>
						<section class="wrapper style5">
							<div class="inner">

								<section>								
									<div class="row">
										<div class="6u 12u$(medium)">	
									<form method="post" action="#">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
											</div>					
											<div class="12u$">
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Send Message" class="special" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
										</div>
										<div class="6u$ 12u$(medium)">
											<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>Landmark University,<br />
											Omu-Aran Kwara <br />
											Nigeria</span>
										</li><br />
										<li>
											<h3>Email</h3>
                                            	<p><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a> support@qmservices.com</p>
												<p><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a> ayoola.akinola@lmu.edu.ng</p>
										</li><br/>
										<li>
											<h3>Phone</h3>
											<span><a href="#" class="icon fa-phone"><span class="label">Email</span></a> (234) 806-892-0009</span>
										</li><br />
									</ul>
										</div>
									</div>
								</section>
                                
                                
							</div>
						</section>
					</article>
                </footer>

                <style>
                	li{
                		list-style: none;
                	}
                </style>
				{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>