{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
						<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>YOUR BASKET</h2>
							<p>contains all that your heart has picked</p>
						</header>
						<section class="wrapper style5">
                            <div class="row">
                                <div class="9u 12u$(medium)">	
							<div class="inner">
                     
									<div  class="9u$ 12u$(medium)">
										<table class="alt">
											<thead>
												<tr>
													<th>Food</th>
													<th>Price</th>
													<th>Quantity</th>
                                                </tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="slug.html">yamorito</a></td>
                                                    <td>#200</td>
													<td><div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                        <option value=""> </option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        </select></div></td>
                                                    <td>
                                                    <a href="#" class="button small">update</a>
                                                        </td>
												</tr>
												<tr>
													<td><a href="slug.html">fried rice</a></td>
													<td>#200</td>
                                                    <td><div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                        <option value=""> </option>
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        </select></div></td>
                                                    <td>
                                                   <a href="#" class="button small">update</a>
                                                       </td>
												</tr>
								</tbody>
							<tfoot>
						</tfoot>
					</table>
				</div>
            </div>
                                </div>
                            <div class="3u$ 12u$(medium)">
										<table>
											<thead>
												<tr>
                                                    <h4>CART SUMMARY</h4>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Sub total</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>delivery</td>
													<td>5.01</td>
												</tr>
												<tr>
													<td>Total</td>
													<td>35.00</td>
												</tr>
								            </tbody>
											<tfoot>
												<tr>
													<td colspan="1"></td>
													<td><a href="checkout.html" class="button special">Checkout</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
                            </div>
    	</section>
	</article>

				{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>

