{{include('./partials/head.twig')}}
<body class="landing">

<!-- Page Wrapper -->
<div id="page-wrapper">

<!-- Header -->
<header id="header" class="alt">
     <h1> <link rel="icon" href="./../resources/images/pic03.png"><a href="./home">QMS</a></h1>

  {{include('./partials/sidemenu.twig')}}
</header>

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>QUICK MEAL SERVICES</h2>
		<p>GET FODD DELIVERED <br />
		TO WHERE EVER YOU ARE !<br />
		<code><b> ONLY IN LANDMARK UNIVERSITY  </b></code>
		<ul class="actions">
			<li><a href="./restaurant" class="button special">CHOW LIKE A BOSS</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">How To</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>SKIP THE LINES, STOP THE STRESS<br />
			SAVE YOUR TIME AND SAVOUR THE MOMENTS  </h2>
            <p>With QMS you get to <b>"chow"</b> like a boss.<br /> with luscious delicacies made with love from in and around landmark university<br />
                we offer supreme comfort and its because you deserve it.<br />
			</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-cutlery major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
			<li><span class="icon fa-spoon major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"><img src="./../resources/images/pic01.jpeg" alt="" /></div><div class="content">
			<h2>Choose Restuarant<br />
			and meal</h2>
			<p>pick a restuarant and choose from list of available food to add to tray.<br />
                <sub>*orders can be made from different restuarants </sub></p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="./../resources/images/pic02.jpeg" alt="" /></div><div class="content">
			<h2>Register<br />
			or Login</h2>
			<p>student or staff must register with appropriate details and required delivery information. </p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="./../resources/images/pic03.png" alt="" /></div><div class="content">
			<h2>DELIVERY !<br />
			</h2>
			<p>Get your order delivered to your exact locations. where ever that is.<br />
                <sub> *every order take at most 30 minutes to be delivered to the specified location for each delivery, and the person who recieves this order at the specified location will be regarded as the owner of the order.</sub></p>
		</div>
	</section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2> QMSERVICES.COM </h2>
			<p>QMS is the first concept of an all-in-one food delivery service that coordinates <br/>for multiple restuarant orders to be delivered to a single destination. </p>
		</header>
		<div class="box alt">
					<div class="row uniform 50%">

						<div class="4u"><span class="image fit"><img src="./../resources/images/food1.jpeg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="./../resources/images/food2.jpeg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="./../resources/images/food3.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="./../resources/images/food4.jpeg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="./../resources/images/food6.jpeg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="./../resources/images/food5.jpg" alt="" /></span></div>
						
					</div>
				</div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>qmservices.com</h2>
			<p>QUICK MEAL SERVICE is a new concept 
				of online food odering and
				 delivery that connects people with restuarants and food 
				centers within and around landmark university.  </p>
            
            <h4>opening hours </h4>
            <p>sun - sat: 8:00 - 22:00<br /> mon - fri: 23:00 - 3:00</p>
		</header>
		<ul class="actions vertical">
			<li><a href="./about" class="button fit special">ABOUT</a></li><br />
			<li><a href="./contact" class="button fit">CONTACT US</a></li>
		</ul>
	</div>
</section>

				{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>