{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
						<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>PRIVACY POLICY</h2>
							<p>arghhhhhhhhhhhhh</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>really !!!!!!!!!!!s</h3>
								<p>uhmmmmmmmmmmmmmm</p>

								
								<hr />

								<h4>nothing</h4>
								<p>I got nothing.</p>
							</div>
						</section>
					</article>

				<!-- Footer -->
					{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}


	</body>
</html>