{{include('./partials/head.twig')}}
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>
				<!-- Main -->
					<article id="tame">

    <section class="wrapper style">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(medium)">
                    <form id="login-form">
                        <div id="login-form-error" class="errormsg padded" style="width: 70%;"></div>
                        <h4>Login</h4>
                        <div class="6u 12u$(xsmall)">
                            <input type="email" name="login[email]" placeholder="Email" />
                        </div><br />
                        <div class="6u$ 12u$(xsmall)">
                            <input type="password" name="login[password]" placeholder="Password" /><p><!-- <input id="methods" type="checkbox"> Show password</p> -->
                            <!-- <p>
                                <input data-toggle="password"
                                       data-placement="before"
                                       type="password"
                                       value="123"
                                       placeholder="password">
                            </p> -->
                        </div>
                        <div class="12u 12u$(small)">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <br/>
                        <div class="12u$">
                            <ul class="actions">
                                <button type="submit" id="btn-login" class="special">Login</button>
                            </ul>
                        </div>
                    </form>


                </div>
            <div class="6u 12u$(medium)">
                {# <div id="#reg-form-error" class="noPadding"></div> #}
                <div id="reg-form-error" class="errormsg padded" style="width: 100%;"></div>
                <form id="reg-form">
                    <h4>Create an account</h4>
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="reg[firstName]" id="first-name" placeholder="Firstname" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="reg[lastName]" id="last-name" placeholder="Lastname" />
                        </div></div><br/>
                    <div class="12u$ 12u$">
                        <input type="email" name="reg[email]" id="email-address" placeholder="Email" />
                    </div>
                    <br/>
                    <div class="12u$ 12u$">
                        <input type="text" name="reg[phone]" id="contact-number" placeholder="Phone" />
                    </div>  <br/>

                    <div class="12u$ 12u$">
                        <input type="text" name="reg[matricNumber]" id="matric-number"  placeholder="Matriculation No / Staff-ID" />
                    </div>  <br/>

                    <div class="12u$ 12u$">
                        <input type="password" name="reg[password]" id="reg-password" placeholder="Password" />
                    </div>     <br/>

                    <div class="12u$ 12u$">
                        <input type="password" name="reg[password]" id="confirm-password" placeholder="Confirm Password" />
                    </div><br/>

                    <div id="errormsg" class="noPadding"></div>

                    <div class="12u 12u$(small)">
                        <input type="checkbox" id="demo-copy" name="demo-copy">
                        <label for="demo-copy"><li  style="list-style-type: none;"><a href="./tandc">I accept the terms and conditions</a></li></label>
                    </div>
                    <div class="12u$">

                    </div>
                    <br/>
                    <div class="12u$">
                        <ul class="actions">
                            {# <input type="hidden" name="_csrf" value="{{ csrfToken }}" /> #}
                            <button type="submit" id="btn-signup" value="REIGSTER" class="special">Sign up</button>
                        </ul></div>
                     </form>
                </div>
            </div>
        </div>
    </section>
</article>



				<!-- Footer -->
					{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}
<script src="bootstrap/assets/bootstrap-v2/js/bootstrap.js"></script>
<script src="bootstrap/bootstrap-show-password.js"></script>
<script src="./../resources/assets/js/reg.js"></script>
<script info="password">
    /*$(function () {
        $('#password').password().on('show.bs.password',function (e) {
            $('#eventLog').text('On show event');
            $('#methods').prop('checked', true);
        }).on('hide.bs.password', function (e) {
                    $('#eventLog').text('On hide event');
                    $('#methods').prop('checked', false);
                });
        $('#methods').click(function () {
            $('#password').password('toggle');
        });
    });*/
</script>



	</body>
</html>