{{include('./partials/head.twig')}}
	<body class="landing">

<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1><a href="./home">QMS</a></h1>
				{{include('./partials/sidemenu.twig')}}
			</header>

<!-- Main -->
	<footer id="footer">

<div class="inner">
    <header class="major">
        <h2> RESTAURANTS </h2>
        <p>QMS is the first concept of an all-in-one food delivery service that coordinates <br/>for multiple restuarant orders to be delivered to a single destination. </p>
    </header>

    <style>
        .sub-text{
            color: black;
            padding: 5%;
            font-size: 2em;
            margin-bottom: 1px;
        }
    </style>

    <section>
        <div class="box alt">
            <div class="row uniform" style="padding: 50px;">
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./caf1" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    CAF 1
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./caf2" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    CAF 2
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./caf3" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    CAF 3
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./belov" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    Belove Stand
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./fruitylife" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    Fruity Life
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
                <div class="4u">
                    <span class="image fit">
                        <article class="mini-post">
                            <a href="./blackmarket" class="image">
                                <img src="./../resources/images/chop.jpeg" alt="" />
                                <p class="sub-text">
                                    Blackmarket
                                </p>
                            </a>
                        </article>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>

</footer>
{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>