{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
						<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
<article id="main">
	<header>
		<h2>PRODUCT INFORMATION</h2>
		<p>arghhhhhhhhhhhhh</p>
	</header>
	<section class="wrapper style5">
		<div class="content inner"></div>
	</section>
</article>

				<!-- Footer -->
					{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

		<script>
			function escapeUrl() {
			    return decodeURIComponent(window.location.search.replace("?", ""));
			};
			function getParams(url) {
			    var params = {};
			    url = url.toLowerCase();
			    url = url.split('&');

			    var length = url.length;
			    for(var i=0; i<length; i++) {
			    	var prop = url[i].slice(0, url[i].search('='));
			        var value = url[i].slice(url[i].search('=')).replace('=', '');
			        params[prop] = value;
			    }
			    return params;
			};
			
			//invoking the function
			var urlParam = getParams(escapeUrl());
			console.log(urlParam);

			$.ajax({
				url: 'http://localhost/queemes-v1/server/apis/slug',
				method: 'POST',
				dataType: 'JSON',
				data: JSON.stringify(urlParam),
				success: function(res){
					console.log(JSON.stringify(res));
					if(res.status !== 'error'){
						$('.content').append(`
							<div class="inner">
							<p><span class="image left"><img alt="" src="./../resources/images/chop.jpeg"></span></p>
							<h2>${res.title}</h2>
							<hr>${res.description}
							<br>
							<br>
							<ul class="actions">
								<li>
									<code id="stock" style="color:red; padding:10px;">low stock</code><br>
									<div class="3u 6u$(xsmall)"></div>
								</li>
								<li>
									<div class="select-wrapper">
										<select id="demo-category" name="demo-category">
											<option value="">
												- prefered plate price -
											</option>
											<option value="1">
												200
											</option>
											<option value="1">
												300
											</option>
											<option value="1">
												350
											</option>
											<option value="1">
												500
											</option>
										</select>
									</div>
								</li>
							</ul>
						</div><br>
						<div class="inner">
							<h3>SIDE PIECES</h3>
							<div class="9u$ 12u$(medium)">
								<table>
									<thead>
										<tr>
											<th>Name</th>
											<th>Quantity</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>egg</td>
											<td>
												<div class="select-wrapper">
													<select id="demo-category" name="demo-category">
														<option value="">
															- quantity -
														</option>
														<option value="1">
															1
														</option>
														<option value="1">
															2
														</option>
														<option value="1">
															3
														</option>
														<option value="1">
															4
														</option>
													</select>
												</div>
											</td>
											<td>#200</td>
											<td>
												<ul class="actions">
													<li>
														<a class="button small" href="#">add</a>
													</li>
												</ul>
											</td>
										</tr>
										<tr>
											<td>stew</td>
											<td>
												<div class="select-wrapper">
													<select id="demo-category" name="demo-category">
														<option value="">
															- quantity -
														</option>
														<option value="1">
															1
														</option>
														<option value="1">
															2
														</option>
														<option value="1">
															3
														</option>
														<option value="1">
															4
														</option>
													</select>
												</div>
											</td>
											<td>#200</td>
											<td>
												<ul class="actions">
													<li>
														<a class="button small" href="#">add</a>
													</li>
												</ul>
											</td>
										</tr>
										<tr>
											<td>beans</td>
											<td>
												<div class="select-wrapper">
													<select id="demo-category" name="demo-category">
														<option value="">
															- quantity -
														</option>
														<option value="1">
															1
														</option>
														<option value="1">
															2
														</option>
														<option value="1">
															3
														</option>
														<option value="1">
															4
														</option>
													</select>
												</div>
											</td>
											<td>#200</td>
											<td>
												<ul class="actions">
													<li>
														<a class="button small" href="#">add</a>
													</li>
												</ul>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
											<td>1000.00</td>
											<td>
												<ul class="actions">
													<li>
														<a class="button special" href="#"><span class="icon fa-plus"></span> to basket</a>
													</li>
												</ul>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<p></p>
						`);

						if(res.inStock < 1){
							$('#stock').text('Low Stock');
							$('#stock').addClass('low-stock');
						} else{
							$('#stock').text('Available');
							$('#stock').addClass('available');
						}
					} else {
						window.location.assign('404');
					}
				},
				error: function(res){
					console.log(JSON.stringify(res));
				}
			})
		</script>

	</body>
</html>