{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
							<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>ABOUT QUICKMEAL SERVICES</h2>
							<p>Best in d world for sure </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Ummmm !</h3>
								<hr />

								<h4>Okay !</h4>
							</div>
						</section>
					</article>

				<!-- Footer -->
					{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>