{{include('./partials/head.twig')}}
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
				<h1><a href="./home">QMS</a></h1>

    {{include('./partials/sidemenu.twig')}}
</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>TERMS AND CONDITIONS</h2>
							
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <p>By using and receiving any services from our company (herein, "The company" or "we" or "our" or "yours") agree with these terms and conditions (herein, "Terms") that are set out below. The Company may revise the Terms at any time and is not obliged to inform you when changes are made.</p>
								<h3>1.Access</h3>
								<p>If you are under the age of 13, you must have the permission of, and be directly supervised by your parent or guardian to use our website (herein, "Site"). The company will try to keep the Site available at all times. However, we will not be liable for losses or damages caused by temporary unavailability of the site. We are not obliged to inform you prior of pre-planned upgrades or improvements, which will make access to the site impossible for any periods of time.</p>

								<hr />

								<h4>2. Registeration</h4>
								<p>For you to complete the sign-up process in our site, you must provide the following information to register with us or to place an order:
                                	
											
												<li>Full Name (no pseudonyms or made-up names).</li>
												<li>Email address.</li>
												<li>Contact number.</li>
                                                <li>Matriculation number(for students).</li>
                                                <li>campus address </li>
                                <br />
                                You must be responsible for keeping your password. Any information provided by you or gathered by the site or third parties during any visit to the site shall be subject to terms of our Privacy Policy.    
                                </p>
                                
                                <hr />
                                
                                <h4>3. Ordering </h4>   
								<p>The company does not sell or control the production of any products produced at the restuarants or outlets. We do not in any way independently verify the representations or products of restuarants or outlets. You must make yourself comfortable through information provided by restaurants or outlets. we do not in any way guaranty the quality of any product. The company shall not be liable or responsible for any products offered by restaurants or outlets that is unhealty, is the cause of injury, that is otherwise unacceptable to you or that does not meet your expectation in any manner.</p>
                                <p>All ordering is performed online and you are billed directly by the company. All orders must be recieved before posted cut-off times for evening delivery. When placing an order, you declare and warrant that all personal information provided by you is correct and accurate. Incorrect matriculation number, phone numbers, addresses or email addresses may lead to a delay or may even make the order impossible to be completed. The company has the right to cancel an order if the information provided by you is incorrect or incomplete.</p> 
                                <hr />
                                
                                <h4>4. Availability & Delivery Capability </h4>
                                <p>Any orders that you have placed are subjected to our product availability, delivery capability and acceptance by the restuarants or outlet. Should an item be unavailable, you will be contacted by us to discuss your preferences of eventually replacing the unavailable product. If you are paying cash on delivery, you may amend the order and agree on a new total value to pay upon receipt. If you have paid online, you will not be refunded for the unavailable item. In such cases you will only have the choice of an alternative item of approximately the same value and quality.</p>
                                <hr />
                                
                                <h4>5. Prices  </h4>
                                <p>All prices are in Nigerian Naira(NG). All prices listed on the site of the products and services are the price of listing at that given time. We reserve the rights to alter these price lists. We will do our best to keep prices listed on the Site up to date. In case the price listed is not up to date, we will contact you to inform you about the price difference and you can choose to opt-out of the order. The total price for delivery, goods or services ordered, including delivery charges and otger changes, will be displayed on the Site when you place your order.</p>
                                <hr />
                                
                                <h4>6. Payment</h4>
                                <p>Full Payment must be made either at the time of delivery by cash or at te time of ordering from us by credit/debit card or any other payment metod available on the Site.
                                </p><hr />
                                
                                <h4>7. Delivery</h4>
                                <p>The approximate delivery time for any order is a guideline only and is provided by the company solely for your convenience. We will, at our capability deliver the order to the designated addresses. You are solely responsible for late delivery due to the incorrect information or instructions provided by you. <br />
                                    Anyone at the delivery address who receives the delivery is conclusively presumed to be autorized at the delivery address who recieves the delivery. Please note that it might not be possible for us to deliver to some locations. If this the case, we will inform you and arrange for cancellation of the order. </p><hr />
                                
                                <h4>8. Cancellations</h4>
                                <p>                                     Cancellations are generally not accepted after an order has been placed but you are welcome to communicate with our team, using any of our contact means and quote your order number. We will try to arrange a cancellation. However, we cannot provide any guarantees as the restuarant may have already started with cooking processes. <br />
                                One exception to the general cancellation policy is for orders placed in advance. If you place an order in advance, i.e from a restuarant that has not opended yet or for a late time on the same evening etc, you will be granted a cancellation provided that we have been notified of this well in advance. If the cancellation was made in time and we have accepted the cancellation, we will refund or re-credit the full amount which you paid.      
                                </p><hr/> 
                                 
                                <h4>9. Refunds </h4>
                                <p>
                                If you have any problems with your order, please contact us immediately. For example: if you did not recieve your order or recieved an incorrect order, you may be issued a full refund; if part of the order is missing, we may issue a partial refund. In these cases of refunds, we will refund or re-credit the full amount which you paid within 14 days. 
                                </p><hr/>
                                
                                <h4>10. DISCLAIMER</h4>
                                <P>
                                   The company will try to keep the information in the site accurate and up to date at all times. However, we will not be liable if any information and services included in or available are inaccuracies or typographical errors. Changes are periodically added to the information herein. Restuarant listing, price, discounts, schemes, promotions and availablity, accuracy or compeleteness of the service or site. We do not represent or warrant that the use of the service or site will be secure, timely, uninterupted or error-free or operate in combination with any other hardware, application, system or data, the services, information, or other material purchased or obtained by you through the service will meet your requirements or expectations, errors or defects in the service or site will be corrected. You should note that information contained in parts of the site may not be up to date. We are not obliged to update this information periodically. 
                                </P>
							</div>
						</section>
					</article>

			<!-- Footer -->
					{{include('./partials/footer.twig')}}

			</div>

		{{include('./partials/scripts.twig')}}

	</body>
</html>