<!-- Footer -->
<footer id="footer">
	<ul class="icons">
	    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-google"><span class="label">google+</span></a></li>
		<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
	</ul>
    <ul class="copyright">
        <li> <a href="./tandc">TERMS & CONDITIONS</a></li><li><a href="./privacy">PRIVACY POLICY</a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; 2016 Quick Meal Services</li><br /><li>Design: <a href="http://haywhyde.carrd.co">DAVID</a></li>
	</ul>
</footer>