<!DOCTYPE HTML>

<!-- 
by Ayoola David 
 -->
			

<html> 
	<head>
        <link rel="icon" href="./../resources/images/pic03.png">
		<title>QMService</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="./../resources/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="./../resources/assets/css/main.css" />
		<link rel="stylesheet" href="./../resources/assets/css/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="./../resources/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="./../resources/assets/css/ie9.css" /><![endif]-->
        
	</head>