<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <ul>
                    <li><a href="./home"><span class="icon fa-home" aria-hidden="true"></span>Home</a></li>
                    <li><a href="./restaurant"><span class="icon fa-cutlery" aria-hidden="true"></span> Restaurants</a></li>
                    <li><a href="./foodbasket"><span class="icon fa-shopping-basket" aria-hidden="true"></span> food basket</a></li>
                    <li><a href="./register"><span class="icon fa-user" aria-hidden="true"></span> User</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>