.padded{
    margin-bottom: 5%;
    margin-top: 0.5%;
    background: #CD4439;
    padding: 15px;
    border-radius: 2px;
    /*border: 1px solid red;*/
}
.noPadding{
    padding: 0;
    display: none;
}